.home {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1100;
}
.homeText {
    position: absolute;
    margin-top: 12%;
    padding: 8% 36px;
    max-width: 80%;
}
.homeText a {
    text-decoration: underline;
}
.homeText a::after {
    content:"\a";
    white-space: pre;
}